* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
}

.p-5 {
  background-color: #4b5320;
  padding-top: 5px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App video {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.register {
  max-width: 978px;
  width: 100vw;
  margin-top: 5%;
  border: 1px solid whitesmoke;
  display: flex;
  border-radius: 5px;
  background-color: burlywood;
  height: 70vh;
  justify-content: center;

  text-align: center;
}

#form {
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
}

.flex {
  display: flex;
  gap: 1em;
  align-items: justify;
}

.flex-col {
  flex-direction: column;
}
.register .col-4 {
  margin: auto;
  padding: 0;
  justify-content: center;
  text-align: center;
}

.register .col-2 img {
  height: 100%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

@media screen and (min-width: 860px) {
  .register .col-2 img {
    display: initial;
  }
}

.login .col-6 {
  width: 100vw;
  max-width: 800px;
  margin-top: 10%;
  border: 10px solid whitesmoke;

  border-radius: 5px;
  background-color: burlywood;
  height: 60vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}
